input::file-selector-button {
    font-weight: bold;
    color: #fff;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    background-color: #008b8b;
}
.ellipse{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
};